html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: Calibri, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  background-image:url("images/background.PNG");
  background-attachment:fixed; 
}
h1, h2, h3, h4 {
  text-align: center;
  margin-top: 10px;
  color:#FFB84D;
}
header {
  background-color: #E0E0E0;
  font-family: sans-serif;
  color: #1F1F1F;
  font-weight: bold;
  text-align: center;
  font-size: 36px;
  padding: 10px 0;
}
nav {
  text-align: center;
  margin: 20px 0;
}
nav a {
  display: inline-block;      
  margin: 0 10px;             
  color: #111; 
}
nav a:hover {
  color: #1db954; 
}
.container {
  max-width: 900px;         
  margin: 20px auto;        
  padding: 15px;            
  background-color: #F9F9F9;
  color:#1F1F1F;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  min-height: 200px;
  text-align: center;  
  
}
.container p {
  text-align: center;       
  margin-bottom: 10px;
}
ul.left-align {
  text-align: left;         
  margin: 20px auto;        
  max-width: 90%;           
  padding-left: 40px;       
}
.checkbox-group {
  display: inline-block;    
  text-align: left;         
  margin: 0 auto;           
}

.checkbox-group input[type="checkbox"] {
  margin-right: 8px;        
  vertical-align: middle;   
  transform: scale(1.3);    
}
img.center, iframe.center {
  display: block;
  margin: 20px auto;
  max-width: 80%;           
  height: auto;
  border-radius: 8px;
  border: 2px solid #111;
}
table {
  border-collapse: collapse;
  margin: 20px auto;
  width: 80%;
}
th, td {
  border: 1px solid #111;
  padding: 8px 12px;
  text-align: center;
}
th {
  background-color: #f0f0f0;
}

table:hover {
  float: none;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}
blockquote {
  background-color: #f4f4f4;
  font-family: Monotype Corsiva, serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
blockquote:hover {
  color: #1db954;
}
footer {
  text-align: center;
  margin: 40px 0;
  font-size: 14px;
  color: #555;
  position: relative;
}
.center-link {
  display: inline-block;       
  text-align: center;
  color: #111;                 
  font-weight: bold;           
  background-color: #f4f4f4;   
  transition: all 0.3s ease;   
}
.center-link:hover {
  color: #1db954;           
  transform: translateY(-2px); 
}
   